@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div class="col-lg-12">
            <h2>myPHR</h2>
            <div class="alert alert-info">
                <p>
                    discription
                </p>
            </div>
            <p><h3>Patient :Register by clicking <a asp-action="Index" asp-controller="UserRegistration" asp-view="Index">here</a></h3></p>

            <p><h3>Doctor: Register by clicking <a asp-action="Index" asp-controller="DoctorRegistration">here</a></h3></p>

        </div>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
