@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div class="col-lg-12">
            <h2>myPHR</h2>
            <div class="alert alert-info">
                <p>
                    “myPHR” is a medical software system that will focus on helping both medical workers and patients save a lot of time, effort and paperwork by simply giving patients the ability to store their medical information and history data inside the system, it will save patients a lot of time by not having to provide their medical history every time they go see a medical provider, it will also save medical providers a lot of time and paperwork by allowing them to access their patients’ medical information from the system once and never have to do the same process again.

                    Our project will make sure that medical providers are given the highest amount of information possible relating to patients’ cases and help patients by retaining their privacy by controlling who sees their data, when they see it, and who modifies it.

                    In short, “myPHR” is closing the gap that “hakeem” closed in the government-run healthcare system whilst giving the power back to the patient.
                </p>
            </div>
            
        </div>
        
    </div>
