
@{
    ViewData["Title"] = "Emailconfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Emailconfirmation</h1>
an email has been sent to @ViewBag.Email please confirm your email address by clicking on the provided link 

